.homeComponent {
    margin-top: 150px;
    display: flex;
    justify-content: center;

    .blockContainer {
        border: 1px solid rgb(206, 206, 206);
        border-radius: 4px;
    }

    .blockWelcome {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: rgb(211, 85, 85);
        border-bottom: 1px solid #ddd;
        padding: 20px;
        color: white;
    }

    .signForm {
        display: flex;
        padding: 50px;
    }

    .formInput {
        padding-left: 5px;
        border: 1px solid #ddd;
        outline: none;
        margin: 5px 0px 5px 0px;
        height: 25px;
        width: 290px;
    }

    .orItem {
        border: 2px solid #ddd;
        border-radius: 50px;
        padding: 20px 20px 20px 20px;
        margin: 40px 20px 80px 20px;
        font-size: 30px;
        background-color: white;
        height: 35px;
        max-height: 35px;
    }

    .blockBtn {
        margin-top: 5px;
        text-align: center;
    }

    .formBtn {
        outline: none;
        border: none;
        height: 25px;
        width: 100px;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

    .formBtn[type='submit'] {
        background-color: rgb(114, 199, 114);
        transition: 0.5s;
    }

    .formBtn[type='reset'] {
        background-color: rgb(224, 124, 117);
        transition: 0.5s;
    }

    .formBtn[type='submit']:hover {
        background-color: rgb(0, 214, 0);
        transition: 0.5s;
    }

    .formBtn[type='reset']:hover {
        background-color: rgb(224, 51, 39);
        transition: 0.5s;
    }
}

@media screen and (max-width: 1075px) {
    .homeComponent {
        margin: 40px 0px 40px 0px;

        .formHeader {
            font-size: 20px;
            margin-bottom: 15px;
        }

        .blockContainer {
            border: none;
        }
        
        .signForm {
            display: flex;
            flex-direction: column;
            padding: 20px;
            width: 770px;
        }

        .formInput {
            border: 2px solid #ddd;
            height: 45px;
            width: 760px;
            font-size: 25px;
        }

        .blockWelcome {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom: none;
        }

        .orItem {
            margin: 30px 340px 30px 345px;
        }

        .blockBtn {
            margin-top: 30px;
        }
    
        .formBtn {
            height: 45px;
            width: 335px;
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 875px) {
    .homeComponent {
        margin: 40px 0px 40px 0px;

        .formHeader {
            font-size: 20px;
            margin-bottom: 15px;
        }

        .blockContainer {
            border: none;
        }
        
        .signForm {
            display: flex;
            flex-direction: column;
            padding: 20px;
            width: 770px;
        }

        .formInput {
            border: 2px solid #ddd;
            height: 45px;
            width: 760px;
            font-size: 25px;
        }

        .blockWelcome {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom: none;
        }

        .orItem {
            margin: 30px 340px 30px 345px;
        }

        .blockBtn {
            margin-top: 30px;
        }
    
        .formBtn {
            height: 45px;
            width: 335px;
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 775px) {
    .homeComponent {
        margin: 40px 0px 40px 0px;

        .formHeader {
            font-size: 20px;
            margin-bottom: 15px;
        }

        .blockContainer {
            border: none;
        }
        
        .signForm {
            padding: 20px;
            width: 680px;
        }

        .formInput {
            width: 670px;
            font-size: 25px;
        }

        .orItem {
            margin: 30px 298px 30px 300px;
        }

        .formBtn {
            width: 337px;
        }
    }
}


@media screen and (max-width: 675px) {
    .homeComponent {
        .blockContainer {
            border: none;
        }

        .formHeader {
            font-size: 20px;
            margin-bottom: 15px;
        }

        .signForm {
            padding: 20px;
            width: 500px;
        }

        .formInput {
            height: 45px;
            width: 495px;
            font-size: 20px;
        }

        .blockWelcome {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom: none;
        }

        .orItem {
            padding: 20px 20px 20px 20px;
            margin: 30px 208px 30px 210px;
        }

        .blockBtn {
            margin-top: 30px;
        }
    
        .formBtn {
            height: 45px;
        }
    }
}

@media screen and (max-width: 545px) {
    .homeComponent {
        .blockContainer {
            border: none;
        }

        .formHeader {
            font-size: 20px;
            margin-bottom: 15px;
        }

        .signForm {
            padding: 20px;
            width: 500px;
        }

        .formInput {
            height: 45px;
            width: 495px;
            font-size: 20px;
        }

        .blockWelcome {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom: none;
        }

        .orItem {
            padding: 20px 20px 20px 20px;
            margin: 30px 208px 30px 210px;
        }

        .blockBtn {
            margin-top: 30px;
        }
    
        .formBtn {
            height: 45px;
        }
    }
}

@media screen and (max-width: 415px) {
    .homeComponent {
        .blockContainer {
            border: none;
        }

        .formHeader {
            font-size: 20px;
            margin-bottom: 15px;
        }

        .signForm {
            padding: 20px;
            width: 230px;
        }

        .formInput {
            height: 40px;
            width: 295px;
            font-size: 20px;
        }

        .blockWelcome {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom: none;
        }

        .orItem {
            padding: 20px 20px 20px 20px;
            margin: 30px 38px 30px 110px;
        }

        .blockBtn {
            margin-top: 20px;
        }
    
        .formBtn {
            height: 35px;
            width: 304px;
        }
    }
}

@media screen and (max-width: 375px) {
    .homeComponent {
        .blockContainer {
            border: none;
        }

        .formHeader {
            font-size: 20px;
            margin-bottom: 15px;
        }

        .signForm {
            padding: 20px;
            width: 200px;
        }

        .formInput {
            height: 35px;
            width: 295px;
            font-size: 20px;
        }

        .blockWelcome {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom: none;
        }

        .orItem {
            padding: 20px 20px 20px 20px;
            margin: 30px 8px 30px 110px;
        }

        .blockBtn {
            margin-top: 20px;
        }
    
        .formBtn {
            height: 35px;
            width: 304px;
        }
    }
}

@media screen and (max-width: 320px) {
    .homeComponent {
        margin: 40px 0px 40px 0px;
        .blockContainer {
            border: none;
        }

        .formHeader {
            font-size: 20px;
            margin-bottom: 15px;
        }

        .blockWelcome {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom: none;
        }
        
        .signForm {
            width: 150px;
        }

        .formInput {
            border: 2px solid #ddd;
            height: 45px;
            width: 270px;
            font-size: 20px;
        }

        .orItem {
            padding: 20px 20px 20px 20px;
            margin: 30px -32px 30px 100px;
        }

        .blockBtn {
            margin-top: 20px;
        }
    
        .formBtn {
            height: 35px;
            width: 278px;
        }
    }
}

@media screen and (max-width: 285px) {
    .homeComponent {
        .blockContainer {
            border: none;
        }

        .formHeader {
            font-size: 20px;
            margin-bottom: 15px;
        }

        .blockWelcome {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom: none;
        }
        
        .formInput {
            border: 2px solid #ddd;
            height: 45px;
            width: 232px;
            font-size: 20px;
        }

        .orItem {
            padding: 20px 20px 20px 20px;
            margin: 30px -10px 30px 80px;
        }

        .blockBtn {
            margin-top: 20px;
        }
    
        .formBtn {
            height: 35px;
            width: 240px;
        }
    }
}
